
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.blur_image {
  /* The image used */
  background-image: url(pexels-anna-tarazevich-7771963.jpg);
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 10px;
  width: 400px;
}
.login-container h1{
  text-align: center;
  padding: 40px 0;
}
.login-container form{
  padding: 0 40px 40px 40px;
  box-sizing: border-box;
}
.login-details{
  position: relative;
  border-bottom: 1px solid #ababab;
  margin-bottom: 30px;
}
.login-details input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 18px;
  border: none;
  outline: none;
  background: none;
}
.login-details label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #adadad;
  font-size: 18px;
  pointer-events: none;
  transition: 0.5s;
}
.show-pw{
  margin-bottom: 30px;
  padding-left: 5px;
  color: #adadad;
  font-size: 18px;
}
.login-details span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #07d749;
  transition: 0.5s;
}
.login-details input:focus ~ label, .login-details input:valid ~ label{
  top: -5px;
  color: #06f070;
}
.login-details input:focus ~ span::before, .login-details input:valid ~ span::before{
  width: 100%;
}
.pw-forget{
  margin: -5px 0 20px 5px;
  color: wheat;
  cursor: pointer;
  font-size: 18px;
}
.pw-forget:hover{
  text-decoration: underline;
}
.login-btn{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background:#07d749;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.login-btn:hover{
  background:  #06f070;
}
.login-signup{
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}
.login-signup a{
  color: #06f070;
  font-weight: 700;
  text-decoration: none;
}
.login-signup a:hover{
  text-decoration: underline;